vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|20 Aug 2015 07:42:07 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|USER-PC\\USER
vti_modifiedby:SR|USER-PC\\USER
vti_timecreated:TR|20 Aug 2015 07:42:07 -0000
vti_cacheddtm:TX|20 Aug 2015 07:42:07 -0000
vti_filesize:IR|590
vti_backlinkinfo:VX|PYTHON/_IPython/IPython\\ Interactive\\ Computing\\ and\\ Visualization\\ Cookbook/SF_IPython_ICVC_packt/4818OS_03_Codes/test.html
